.future-div {
  .future-heading {
    font-weight: 700;
    font-size: 24px;
    margin-top: 10px;
    color: #010101;
    margin-bottom: 12px;
  }
  .future-content-typo {
    color: #222222;
    white-space: pre-line;
    font-size: 16px;
    margin-bottom: 60px;
  }
  margin-bottom: 65px;
}
